.env
.venv/

__pycache__/
*.pyc
.vscode/

data/*
!data/.gitkeep
posters/
models/
*.csv
*.xlsx
~$*.xlsx
balanced_movies.csv
balanced_movies_with_posters.csv
classic_svd_optuna_history*
cult_svd_optuna_history*
*.csv
